.DesktopOnly {
    display: none
}

.MobileOnly {
    display: block;
}

@media (min-width: 800px) {
    .DesktopOnly {
        display: block
    }
    .MobileOnly {
        display: none
    }
}

.ControlBar button {
    background-color: white;
    border: none;
    border-radius: 1rem;
}

.ControlBar button:hover, .ControlBar button:focus, .ControlBar button:active {
    background-color: #f9f9f9;
}