.Box {
    border-bottom: 6px solid #e6e6e6;
    padding: 20px;
    display: block;
    margin: 0px auto;
    background-color: white;
}

@media (min-width: 600px) {
    .Box {
        border: 1px solid #efefef;
        border-bottom: 1px solid #e2e2e2;
        border-radius: 4px;
        padding: 20px;
        margin-bottom: 8px;
    }
}