.Home {
    padding: 3rem 0px 0px 0px;
    display: block;
    background-color: #e6e6e6;
}

.QuestionLink {
    color: #949494;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.3;
    font-weight: bold;
    font-size: 1.5rem;
}

.QuestionLink:hover {
    color: #2b6dad;
    cursor: pointer;
}

@media (min-width: 600px) {
    .Home {
        padding: 4.5rem 0px 0px 0px; 
        background-color: #fafafa;
    }
}