.Super {
    background-color: #b92b27;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
    display: inline-block;
    font-weight: 500;
    font-size: 1rem;
    outline: 0;
    padding: 3px 7px 4px 7px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #b92b27;
    color: white;
}

.Super:hover {
    border: 1px solid #8f211e;
}

.DesktopOnly {
    display: none;
}

.MobileOnly {
    display: inline-block;
}

@media (min-width: 600px) {
    .DesktopOnly {
        display: inline-block;
    }
    .MobileOnly {
        display: none;
    }
}

.Plain {
    background: none;
    padding: 0px 15px 0px 7px;
    cursor: pointer;
    color: #fff;
    font-size: 1.2rem;
}